In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df=pd.read_csv("C:\\Users\\HP\\Downloads\\final_makaan123_df (1).csv")

In [4]:
df

,Unnamed: 0,BUILDERS,SIZE,PROPERTY_TYPE,PROPERTY_ADDRESS,CITY,AREA,RATE_SQFT,PRICE,CONSTRUCTION_STATUS,LISTED_BY
0,0,Ashoka Builders India Private LimitedBUILDER0,3 BHK,Apartment,Nanakramguda,Hyderabad,1870,"9,499",1.77 Cr,Under Construction,BUILDER
1,1,Sunyuga Infra Pvt LtdBUILDER0,4 BHK,Villa,Gundlapochampally,Hyderabad,3587,"8,300",2.97 Cr,Under Construction,BUILDER
2,2,Raghuram Pradeep Constructions India LLPBUILDER0,4 BHK,Apartment,Puppalaguda,Hyderabad,3715,"10,891",4.04 Cr,Under Construction,BUILDER
3,3,Kalyan Infra ProjectsBUILDER0,3 BHK,Apartment,Manchirevula,Hyderabad,2150,"6,800",1.46 Cr,Ready to move,BUILDER
4,4,Risinia BuildersBUILDER0,2 BHK,Apartment,Pragathi,Hyderabad,1312,"5,599",73.45 L,Under Construction,BUILDER
...,...,...,...,...,...,...,...,...,...,...,...
1975,1975,Full Basket property services Pvt ltdAGENT0,2 BHK,Apartment,Sholinganallur,Chennai,976,"11,142",1.08 Cr,Ready to move,AGENT
1976,1976,Full Basket property services Pvt ltdAGENT0,2 BHK,Apartment,Sholinganallur,Chennai,923,"11,050",1.02 Cr,Ready to move,AGENT
1977,1977,Full Basket property services Pvt ltdAGENT0,2 BHK,Apartment,Sholinganallur,Chennai,923,"11,050",1.02 Cr,Ready to move,AGENT
1978,1978,Full Basket property services Pvt ltdAGENT0,2 BHK,Apartment,Sholinganallur,Chennai,843,"10,156",85.61 L,Ready to move,AGENT
1979,1979,Full Basket property services Pvt ltdAGENT0,2 BHK,Apartment,Sholinganallur,Chennai,843,"10,156",85.61 L,Ready to move,AGENT

In [5]:
#df.drop(columns=['Unnamed: 0'],inplace=True)

In [6]:
## There is no null values in my dataframe
df.isna().sum()

Unnamed: 0             0
BUILDERS               0
SIZE                   0
PROPERTY_TYPE          0
PROPERTY_ADDRESS       0
CITY                   0
AREA                   0
RATE_SQFT              0
PRICE                  0
CONSTRUCTION_STATUS    0
LISTED_BY              0
dtype: int64

In [7]:
# There is some duplicates values in my dataframe
df[df.duplicated()]

Empty DataFrame
Columns: [Unnamed: 0, BUILDERS, SIZE, PROPERTY_TYPE, PROPERTY_ADDRESS, CITY, AREA, RATE_SQFT, PRICE, CONSTRUCTION_STATUS, LISTED_BY]
Index: []

In [8]:
# There is no duplicates now values in my dataframe
df=df.drop_duplicates()

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1980 entries, 0 to 1979
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           1980 non-null   int64
 1   BUILDERS             1980 non-null   object
 2   SIZE                 1980 non-null   object
 3   PROPERTY_TYPE        1980 non-null   object
 4   PROPERTY_ADDRESS     1980 non-null   object
 5   CITY                 1980 non-null   object
 6   AREA                 1980 non-null   int64
 7   RATE_SQFT            1980 non-null   object
 8   PRICE                1980 non-null   object
 9   CONSTRUCTION_STATUS  1980 non-null   object
 10  LISTED_BY            1980 non-null   object
dtypes: int64(2), object(9)
memory usage: 170.3+ KB

In [10]:
df

,Unnamed: 0,BUILDERS,SIZE,PROPERTY_TYPE,PROPERTY_ADDRESS,CITY,AREA,RATE_SQFT,PRICE,CONSTRUCTION_STATUS,LISTED_BY
0,0,Ashoka Builders India Private LimitedBUILDER0,3 BHK,Apartment,Nanakramguda,Hyderabad,1870,"9,499",1.77 Cr,Under Construction,BUILDER
1,1,Sunyuga Infra Pvt LtdBUILDER0,4 BHK,Villa,Gundlapochampally,Hyderabad,3587,"8,300",2.97 Cr,Under Construction,BUILDER
2,2,Raghuram Pradeep Constructions India LLPBUILDER0,4 BHK,Apartment,Puppalaguda,Hyderabad,3715,"10,891",4.04 Cr,Under Construction,BUILDER
3,3,Kalyan Infra ProjectsBUILDER0,3 BHK,Apartment,Manchirevula,Hyderabad,2150,"6,800",1.46 Cr,Ready to move,BUILDER
4,4,Risinia BuildersBUILDER0,2 BHK,Apartment,Pragathi,Hyderabad,1312,"5,599",73.45 L,Under Construction,BUILDER
...,...,...,...,...,...,...,...,...,...,...,...
1975,1975,Full Basket property services Pvt ltdAGENT0,2 BHK,Apartment,Sholinganallur,Chennai,976,"11,142",1.08 Cr,Ready to move,AGENT
1976,1976,Full Basket property services Pvt ltdAGENT0,2 BHK,Apartment,Sholinganallur,Chennai,923,"11,050",1.02 Cr,Ready to move,AGENT
1977,1977,Full Basket property services Pvt ltdAGENT0,2 BHK,Apartment,Sholinganallur,Chennai,923,"11,050",1.02 Cr,Ready to move,AGENT
1978,1978,Full Basket property services Pvt ltdAGENT0,2 BHK,Apartment,Sholinganallur,Chennai,843,"10,156",85.61 L,Ready to move,AGENT
1979,1979,Full Basket property services Pvt ltdAGENT0,2 BHK,Apartment,Sholinganallur,Chennai,843,"10,156",85.61 L,Ready to move,AGENT

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1980 entries, 0 to 1979
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           1980 non-null   int64
 1   BUILDERS             1980 non-null   object
 2   SIZE                 1980 non-null   object
 3   PROPERTY_TYPE        1980 non-null   object
 4   PROPERTY_ADDRESS     1980 non-null   object
 5   CITY                 1980 non-null   object
 6   AREA                 1980 non-null   int64
 7   RATE_SQFT            1980 non-null   object
 8   PRICE                1980 non-null   object
 9   CONSTRUCTION_STATUS  1980 non-null   object
 10  LISTED_BY            1980 non-null   object
dtypes: int64(2), object(9)
memory usage: 170.3+ KB

# unique & nunique values checking in every column

In [12]:
df['BUILDERS'].nunique()

191

In [13]:
df['BUILDERS'].value_counts()

BUILDERS
ProptigerCity Expert Ã¢Â€Â§ AGENT4.81 Rating    534
B Kumar and BrothersAGENT0                   291
ProptigerAGENT0                              267
Hallmark BuildersBUILDER0                     49
Salarpuria SattvaBUILDER0                     37
                                            ...
PrashantOWNER                                  1
S Square RealityAGENT0                         1
pushpaOWNER                                    1
RiteshAGENT0                                   1
Sri Vyshnavi EnterprisesAGENT0                 1
Name: count, Length: 191, dtype: int64

In [14]:
df['BUILDERS'].unique()

array(['Ashoka Builders India Private LimitedBUILDER0',
       'Sunyuga Infra Pvt LtdBUILDER0',
       'Raghuram Pradeep Constructions India LLPBUILDER0',
       'Kalyan Infra ProjectsBUILDER0', 'Risinia BuildersBUILDER0',
       'MKT Praneeth HomesBUILDER0', 'APR GroupBUILDER0',
       'Praneeth GroupBUILDER0', 'GHR InfraBUILDER0',
       'Greenmark DevelopersBUILDER0', 'Hallmark BuildersBUILDER0',
       'Aavasa ConstructionsBUILDER0',
       'Theme Ambience InfrastructuresBUILDER0',
       'Signature AvenuesBUILDER0', 'GK Builders DevelopersBUILDER0',
       'Candeur Developers And BuildersBUILDER0',
       'BSCPL Infrastructure LtdBUILDER0', 'Merlion BuildersBUILDER0',
       'Vajra Builders And DevelopersBUILDER0', 'Riddhi GroupBUILDER0',
       'Maram Infra Projects PvtLtdBUILDER0',
       'Anuhar Homes Pvt LtdBUILDER0', 'Salarpuria SattvaBUILDER0',
       'EIPL GroupBUILDER0', 'Vasavi GroupBUILDER0',
       'Mahaveer GroupBUILDER0', 'Sri Aditya SquaresBUILDER0',
       'Sumadhura Infracon Pvt LtdBUILDER0', 'Cyber City OrianaBUILDER0',
       'Jain ConstructionsBUILDER0', 'M KartheekAGENT0',
       'Maaruthi GroupAGENT0', 'sellerVERIFIED OWNER',
       'Homes treasvreAGENT4',
       'ProptigerCity Expert Ã¢\x80Â§ AGENT4.81 Rating',
       'Ahad Real Estate ConsultantAGENT4.5', 'S K PropertiesAGENT4.5',
       'A to Z Real Estate CompanyAGENT0', 'S Square RealityAGENT0',
       'sharvari bendarkarOWNER', 'Manish SinghAGENT0',
       'Rana SinghAGENT0', 'Aashiyana PropertiesAGENT0',
       'ProptigerAGENT0', 'Himanshu RangaAGENT0', 'Space OneAGENT0',
       'Joel EnterprisesAGENT0', 'India PropertiesAGENT0',
       'Home Land RealtorsAGENT0', 'SHIV SAGAR PROPERTYAGENT0',
       'Seeds Realty InvestmentsAGENT0', 'S K PropertyAGENT0',
       'Devendra ShettyBUILDER0', 'Shree Siddhivinayak Real EstateAGENT0',
       'JP AssociatesAGENT0', 'amitBUILDER0', 'Millennium RealtorsAGENT0',
       'MUKESH KUMARAGENT0', 'Aasco RealtyAGENT0', 'Jhp InfraAGENT3.3',
       'Prop UrbanAGENT4.5',
       'shree rajashree developers pvt ltdBUILDER3.9',
       'Chandra BabuAGENT0', 'user5475OWNER', 'nethraOWNER',
       'professional property consultantsAGENT0',
       "Kanasu Propertie'sAGENT0", 'user6465OWNER', 'user7957OWNER',
       'SowmyaOWNER', 'ShivaniOWNER', 'amarnathOWNER', 'user9933OWNER',
       'user4401OWNER', 'user3979OWNER', 'user0414OWNER', 'adwikaOWNER',
       'user9259OWNER', 'user5974OWNER', 'user8140OWNER', 'user5872OWNER',
       'user9262OWNER', 'user2372OWNER', 'Anitha KOWNER',
       'Lokesh naiduOWNER', 'adwayaOWNER', 'meeraOWNER',
       'Yes PropertyAGENT0', 'user0038OWNER', 'Brick TipAGENT0',
       'RiteshAGENT0', 'pushpaOWNER', 'NSR VenturesAGENT0',
       'PrashantOWNER', 'Epcot Downtown Ventures pvt ltdAGENT0',
       'Sri Vyshnavi EnterprisesAGENT0', 'pavanraghBUILDER0',
       'kumarBUILDER4.7', 'DELHI INFRATECH LTDAGENT2.9',
       'Shourya InfratechAGENT4.7', 'Property GalleryAGENT0',
       'India HomesAGENT0', 'B Kumar and BrothersAGENT0',
       'CHILLAR HOMESAGENT0', 'Vikas GargAGENT0',
       'gorkahpria associatesAGENT0', 'Shajeb QureshiOWNER',
       'maryada vermaOWNER', 'sk royAGENT0', 'Vikas solankiOWNER',
       'userOWNER', 'Malik Properties BuildersAGENT0', 'user6611OWNER',
       'REALTY CENTREAGENT0', 'm vermaOWNER', 'user1771OWNER',
       'Bilochan LalOWNER', 'KBROWNER', 'Madhup SharmaOWNER',
       'AANVI REAL ESTATEAGENT0', 'Guru Ji AssociatesAGENT0',
       'Green Valley BuilderAGENT0', 'CR propertiesAGENT0',
       'Pratik LalOWNER', 'user8977OWNER', 'Chauhan PropertiesAGENT0',
       'Happy Home Properties and BuildersAGENT0', 'AMIT GAUTAMAGENT0',
       'malik katyal associatesAGENT0', 'Sai EstateAGENT0', 'DeepOWNER',
       'Growmax Wealth Management ServicesAGENT0',
       'Jagdamba AssociatesAGENT0', 'Yogesh SharmaAGENT0',
       'Khanna PropertiesBUILDER0', 'Earth Care AssociatesAGENT0',
       'Jas buildtech LtdAGENT0', 'Jorawar SinghOWNER',
       'Shubh GuptaOWNER', 'Dee Star PropertiesAGENT0',
       'Bharathi ConstructionBUILDER0', 'user2619OWNER', 'Nelson POWNER',
       'AliOWNER', 'meenatchi realsBUILDER0', 'ALAMELUOWNER',
       'user0708OWNER', 'TharunOWNER', 'BaluAGENT0', 'sellerOWNER',
       'BabuOWNER', 'user9691OWNER', 'Samsur propertiesAGENT0',
       'user0787OWNER', 'krishnaswamyOWNER', 'user6528OWNER',
       'PROPLEAFAGENT0', 'KISHORE PROMOTORSBUILDER0',
       'MYPROP TELLERAGENT0', 'INSTAPROPAGENT0', 'vetrirealsBUILDER0',
       'Franch RealtyAGENT0', 'Chennai propertiesBUILDER0',
       'Raj HousingAGENT0', 'VENKATESWARALU KOWNER', 'sundarOWNER',
       'VenkatakrishnanAGENT0', 'Elite Estate RajkumarAGENT0',
       'jaylakshmiBUILDER0', 'AnbuchezhianAGENT0', 'gopalakrishnaOWNER',
       'rajeshOWNER', 'JLLAGENT0', 'sheik mohammedOWNER', 'AmitOWNER',
       'KM PROPERTYBUILDER0', 'RajeshOWNER', 'ARB HOMESAGENT0',
       'PraveenOWNER', 'JayalakshmiBUILDER0',
       'Vishnu Foundation LtdAGENT0', 'user7595OWNER', 'DhamodharanOWNER',
       'Swastikk homesAGENT0', 'HarikrishnanOWNER',
       'Casagrand SellassureAGENT0', 'SubesinghOWNER', 'GobinathOWNER',
       'user2468OWNER', 'user8466OWNER',
       'Full Basket property services Pvt ltdAGENT0'], dtype=object)

In [15]:
a=[]
for i in df['BUILDERS']:
    if i.startswith('u'):
        a.append(i)

In [16]:
df.isna().sum()

Unnamed: 0             0
BUILDERS               0
SIZE                   0
PROPERTY_TYPE          0
PROPERTY_ADDRESS       0
CITY                   0
AREA                   0
RATE_SQFT              0
PRICE                  0
CONSTRUCTION_STATUS    0
LISTED_BY              0
dtype: int64

In [17]:
df['RATE_SQFT']=df['RATE_SQFT'].apply(lambda x:x.replace(',',''))

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1980 entries, 0 to 1979
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           1980 non-null   int64
 1   BUILDERS             1980 non-null   object
 2   SIZE                 1980 non-null   object
 3   PROPERTY_TYPE        1980 non-null   object
 4   PROPERTY_ADDRESS     1980 non-null   object
 5   CITY                 1980 non-null   object
 6   AREA                 1980 non-null   int64
 7   RATE_SQFT            1980 non-null   object
 8   PRICE                1980 non-null   object
 9   CONSTRUCTION_STATUS  1980 non-null   object
 10  LISTED_BY            1980 non-null   object
dtypes: int64(2), object(9)
memory usage: 170.3+ KB

In [19]:
df2 = df[~df['BUILDERS'].str.contains('OWNER')]
df2.reset_index(drop=True, inplace=True)

In [20]:
df2['BUILDERS'].unique()

array(['Ashoka Builders India Private LimitedBUILDER0',
       'Sunyuga Infra Pvt LtdBUILDER0',
       'Raghuram Pradeep Constructions India LLPBUILDER0',
       'Kalyan Infra ProjectsBUILDER0', 'Risinia BuildersBUILDER0',
       'MKT Praneeth HomesBUILDER0', 'APR GroupBUILDER0',
       'Praneeth GroupBUILDER0', 'GHR InfraBUILDER0',
       'Greenmark DevelopersBUILDER0', 'Hallmark BuildersBUILDER0',
       'Aavasa ConstructionsBUILDER0',
       'Theme Ambience InfrastructuresBUILDER0',
       'Signature AvenuesBUILDER0', 'GK Builders DevelopersBUILDER0',
       'Candeur Developers And BuildersBUILDER0',
       'BSCPL Infrastructure LtdBUILDER0', 'Merlion BuildersBUILDER0',
       'Vajra Builders And DevelopersBUILDER0', 'Riddhi GroupBUILDER0',
       'Maram Infra Projects PvtLtdBUILDER0',
       'Anuhar Homes Pvt LtdBUILDER0', 'Salarpuria SattvaBUILDER0',
       'EIPL GroupBUILDER0', 'Vasavi GroupBUILDER0',
       'Mahaveer GroupBUILDER0', 'Sri Aditya SquaresBUILDER0',
       'Sumadhura Infracon Pvt LtdBUILDER0', 'Cyber City OrianaBUILDER0',
       'Jain ConstructionsBUILDER0', 'M KartheekAGENT0',
       'Maaruthi GroupAGENT0', 'Homes treasvreAGENT4',
       'ProptigerCity Expert Ã¢\x80Â§ AGENT4.81 Rating',
       'Ahad Real Estate ConsultantAGENT4.5', 'S K PropertiesAGENT4.5',
       'A to Z Real Estate CompanyAGENT0', 'S Square RealityAGENT0',
       'Manish SinghAGENT0', 'Rana SinghAGENT0',
       'Aashiyana PropertiesAGENT0', 'ProptigerAGENT0',
       'Himanshu RangaAGENT0', 'Space OneAGENT0',
       'Joel EnterprisesAGENT0', 'India PropertiesAGENT0',
       'Home Land RealtorsAGENT0', 'SHIV SAGAR PROPERTYAGENT0',
       'Seeds Realty InvestmentsAGENT0', 'S K PropertyAGENT0',
       'Devendra ShettyBUILDER0', 'Shree Siddhivinayak Real EstateAGENT0',
       'JP AssociatesAGENT0', 'amitBUILDER0', 'Millennium RealtorsAGENT0',
       'MUKESH KUMARAGENT0', 'Aasco RealtyAGENT0', 'Jhp InfraAGENT3.3',
       'Prop UrbanAGENT4.5',
       'shree rajashree developers pvt ltdBUILDER3.9',
       'Chandra BabuAGENT0', 'professional property consultantsAGENT0',
       "Kanasu Propertie'sAGENT0", 'Yes PropertyAGENT0',
       'Brick TipAGENT0', 'RiteshAGENT0', 'NSR VenturesAGENT0',
       'Epcot Downtown Ventures pvt ltdAGENT0',
       'Sri Vyshnavi EnterprisesAGENT0', 'pavanraghBUILDER0',
       'kumarBUILDER4.7', 'DELHI INFRATECH LTDAGENT2.9',
       'Shourya InfratechAGENT4.7', 'Property GalleryAGENT0',
       'India HomesAGENT0', 'B Kumar and BrothersAGENT0',
       'CHILLAR HOMESAGENT0', 'Vikas GargAGENT0',
       'gorkahpria associatesAGENT0', 'sk royAGENT0',
       'Malik Properties BuildersAGENT0', 'REALTY CENTREAGENT0',
       'AANVI REAL ESTATEAGENT0', 'Guru Ji AssociatesAGENT0',
       'Green Valley BuilderAGENT0', 'CR propertiesAGENT0',
       'Chauhan PropertiesAGENT0',
       'Happy Home Properties and BuildersAGENT0', 'AMIT GAUTAMAGENT0',
       'malik katyal associatesAGENT0', 'Sai EstateAGENT0',
       'Growmax Wealth Management ServicesAGENT0',
       'Jagdamba AssociatesAGENT0', 'Yogesh SharmaAGENT0',
       'Khanna PropertiesBUILDER0', 'Earth Care AssociatesAGENT0',
       'Jas buildtech LtdAGENT0', 'Dee Star PropertiesAGENT0',
       'Bharathi ConstructionBUILDER0', 'meenatchi realsBUILDER0',
       'BaluAGENT0', 'Samsur propertiesAGENT0', 'PROPLEAFAGENT0',
       'KISHORE PROMOTORSBUILDER0', 'MYPROP TELLERAGENT0',
       'INSTAPROPAGENT0', 'vetrirealsBUILDER0', 'Franch RealtyAGENT0',
       'Chennai propertiesBUILDER0', 'Raj HousingAGENT0',
       'VenkatakrishnanAGENT0', 'Elite Estate RajkumarAGENT0',
       'jaylakshmiBUILDER0', 'AnbuchezhianAGENT0', 'JLLAGENT0',
       'KM PROPERTYBUILDER0', 'ARB HOMESAGENT0', 'JayalakshmiBUILDER0',
       'Vishnu Foundation LtdAGENT0', 'Swastikk homesAGENT0',
       'Casagrand SellassureAGENT0',
       'Full Basket property services Pvt ltdAGENT0'], dtype=object)

In [21]:
df2['BUILDERS'].value_counts()

BUILDERS
ProptigerCity Expert Ã¢Â€Â§ AGENT4.81 Rating    534
B Kumar and BrothersAGENT0                   291
ProptigerAGENT0                              267
Hallmark BuildersBUILDER0                     49
Salarpuria SattvaBUILDER0                     37
                                            ...
sk royAGENT0                                   1
AANVI REAL ESTATEAGENT0                        1
Green Valley BuilderAGENT0                     1
S K PropertyAGENT0                             1
pavanraghBUILDER0                              1
Name: count, Length: 122, dtype: int64

In [22]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1787 entries, 0 to 1786
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           1787 non-null   int64
 1   BUILDERS             1787 non-null   object
 2   SIZE                 1787 non-null   object
 3   PROPERTY_TYPE        1787 non-null   object
 4   PROPERTY_ADDRESS     1787 non-null   object
 5   CITY                 1787 non-null   object
 6   AREA                 1787 non-null   int64
 7   RATE_SQFT            1787 non-null   object
 8   PRICE                1787 non-null   object
 9   CONSTRUCTION_STATUS  1787 non-null   object
 10  LISTED_BY            1787 non-null   object
dtypes: int64(2), object(9)
memory usage: 153.7+ KB

In [23]:
df2['PROPERTY_TYPE'].unique()

array(['Apartment', 'Villa', 'Independent', 'ApartmentPragathi',
       'ApartmentMount', 'Apartmentkasaradavali', 'Studio',
       'ApartmentGreater', 'ApartmentKharghar', 'ApartmentKalyan',
       'ApartmentUlwe', 'ApartmentThane', 'ApartmentUttam',
       'ApartmentBurari', 'Penthouse', 'ApartmentSector',
       'ApartmentValasaravakkam', 'ApartmentMogappair',
       'VillaVengambakkam', 'VillaKandigai', 'ApartmentPorur',
       'VillaSembakkam', 'ApartmentSelaiyur', 'ApartmentKotivakkam',
       'VillaSelaiyur', 'ApartmentMadambakkam'], dtype=object)

In [24]:
df2['PROPERTY_TYPE']

0       Apartment
1           Villa
2       Apartment
3       Apartment
4       Apartment
          ...
1782    Apartment
1783    Apartment
1784    Apartment
1785    Apartment
1786    Apartment
Name: PROPERTY_TYPE, Length: 1787, dtype: object

In [25]:
df2.loc[df2['PROPERTY_TYPE'].str.startswith('Apartment'), 'PROPERTY_TYPE'] = 'Apartment'
df2.loc[df2['PROPERTY_TYPE'].str.startswith('Villa'), 'PROPERTY_TYPE'] = 'Villa'

df2

,Unnamed: 0,BUILDERS,SIZE,PROPERTY_TYPE,PROPERTY_ADDRESS,CITY,AREA,RATE_SQFT,PRICE,CONSTRUCTION_STATUS,LISTED_BY
0,0,Ashoka Builders India Private LimitedBUILDER0,3 BHK,Apartment,Nanakramguda,Hyderabad,1870,9499,1.77 Cr,Under Construction,BUILDER
1,1,Sunyuga Infra Pvt LtdBUILDER0,4 BHK,Villa,Gundlapochampally,Hyderabad,3587,8300,2.97 Cr,Under Construction,BUILDER
2,2,Raghuram Pradeep Constructions India LLPBUILDER0,4 BHK,Apartment,Puppalaguda,Hyderabad,3715,10891,4.04 Cr,Under Construction,BUILDER
3,3,Kalyan Infra ProjectsBUILDER0,3 BHK,Apartment,Manchirevula,Hyderabad,2150,6800,1.46 Cr,Ready to move,BUILDER
4,4,Risinia BuildersBUILDER0,2 BHK,Apartment,Pragathi,Hyderabad,1312,5599,73.45 L,Under Construction,BUILDER
...,...,...,...,...,...,...,...,...,...,...,...
1782,1975,Full Basket property services Pvt ltdAGENT0,2 BHK,Apartment,Sholinganallur,Chennai,976,11142,1.08 Cr,Ready to move,AGENT
1783,1976,Full Basket property services Pvt ltdAGENT0,2 BHK,Apartment,Sholinganallur,Chennai,923,11050,1.02 Cr,Ready to move,AGENT
1784,1977,Full Basket property services Pvt ltdAGENT0,2 BHK,Apartment,Sholinganallur,Chennai,923,11050,1.02 Cr,Ready to move,AGENT
1785,1978,Full Basket property services Pvt ltdAGENT0,2 BHK,Apartment,Sholinganallur,Chennai,843,10156,85.61 L,Ready to move,AGENT
1786,1979,Full Basket property services Pvt ltdAGENT0,2 BHK,Apartment,Sholinganallur,Chennai,843,10156,85.61 L,Ready to move,AGENT

In [26]:
df2['PROPERTY_TYPE'].unique()

array(['Apartment', 'Villa', 'Independent', 'Studio', 'Penthouse'],
      dtype=object)

In [27]:
df2['PRICE'].head(10)

0     1.77 Cr
1     2.97 Cr
2     4.04 Cr
3     1.46 Cr
4     73.45 L
5     48.04 L
6     3.86 Cr
7     1.71 Cr
8     1.06 Cr
9     7.41 Cr
Name: PRICE, dtype: object

In [28]:
df2['PRICE'].loc[df2['PRICE'].str.contains('L')] = df2['PRICE'][df2['PRICE'].str.contains('L')].str.replace(' L', '').astype(float) / 100
df2['PRICE']

C:\Users\HP\AppData\Local\Temp\ipykernel_19176\2742092100.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['PRICE'].loc[df2['PRICE'].str.contains('L')] = df2['PRICE'][df2['PRICE'].str.contains('L')].str.replace(' L', '').astype(float) / 100

0        1.77 Cr
1        2.97 Cr
2        4.04 Cr
3        1.46 Cr
4         0.7345
          ...
1782     1.08 Cr
1783     1.02 Cr
1784     1.02 Cr
1785      0.8561
1786      0.8561
Name: PRICE, Length: 1787, dtype: object

In [29]:
df2['PRICE'] = df2['PRICE'].apply(lambda x: x.replace(' Cr', '') if isinstance(x, str) and 'Cr' in x else x)

C:\Users\HP\AppData\Local\Temp\ipykernel_19176\1513608273.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['PRICE'] = df2['PRICE'].apply(lambda x: x.replace(' Cr', '') if isinstance(x, str) and 'Cr' in x else x)

In [30]:
df2['PRICE']

0         1.77
1         2.97
2         4.04
3         1.46
4       0.7345
         ...
1782      1.08
1783      1.02
1784      1.02
1785    0.8561
1786    0.8561
Name: PRICE, Length: 1787, dtype: object

In [31]:
df2['PRICE']=df2['PRICE'].astype(float)

C:\Users\HP\AppData\Local\Temp\ipykernel_19176\1494077996.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['PRICE']=df2['PRICE'].astype(float)

In [32]:
df2["RATE_SQFT"].unique()

array(['9499', '8300', '10891', '6800', '5599', '4200', '10000', '7599',
       '5999', '12142', '8299', '7000', '7499', '5400', '7600', '13587',
       '6002', '6500', '5950', '5055', '10540', '7800', '7400', '8500',
       '7999', '13592', '8399', '6754', '9901', '9000', '9920', '4202',
       '10895', '6000', '9640', '6751', '7299', '4800', '9799', '9803',
       '11016', '9982', '10887', '12150', '9904', '9900', '9905', '9907',
       '9903', '5407', '6001', '12500', '8002', '8003', '8005', '8004',
       '5803', '5800', '4999', '12250', '12333', '13745', '12353',
       '13757', '12841', '9600', '5555', '8400', '14615', '14316',
       '12656', '14072', '14413', '14409', '14307', '14525', '14587',
       '14495', '16147', '10085', '9444', '9350', '9666', '13481',
       '13457', '13593', '15094', '9275', '9257', '9287', '25748',
       '23922', '21775', '11900', '25000', '20965', '8826', '10066',
       '9717', '10186', '10263', '13723', '6715', '6810', '10030', '9912',
       '9604', '15629', '14655', '17055', '13688', '14955', '9990',
       '10500', '15989', '15768', '15734', '15536', '18697', '18192',
       '13496', '14436', '14930', '14200', '22005', '22613', '33036',
       '36061', '22883', '38033', '35092', '31000', '49000', '48200',
       '56910', '14500', '27108', '9230', 'Price', '8545', '8857', '9500',
       '27870', '27754', '27871', '21500', '11000', '11261', '11241',
       '11289', '11356', '11225', '31307', '28078', '19149', '8648',
       '10952', '7589', '10431', '3636', '13142', '12898', '7619',
       '15895', '15659', '16389', '11469', '10356', '8802', '10571',
       '17462', '11818', '6829', '6749', '23070', '13500', '18906',
       '18627', '19935', '20569', '5904', '24183', '5434', '5495', '5518',
       '5450', '5535', '5497', '5498', '5543', '5560', '5432', '6114',
       '5709', '425', '5150', '4199', '4899', '5068', '4942', '8051',
       '8304', '9145', '6150', '4940', '5090', '5040', '7350', '5929',
       '4750', '5225', '2927', '2875', '5390', '5200', '5454', '16964',
       '21000', '21232', '9247', '8602', '6833', '6200', '5900', '22916',
       '5500', '5100', '4949', '4318', '8603', '5770', '6140', '9590',
       '9715', '10449', '6331', '4500', '6196', '6227', '6104', '6358',
       '6609', '15000', '6337', '4040', '3441', '3400', '3422', '3478',
       '3749', '3748', '4090', '42857', '43902', '45000', '30000',
       '24074', '43750', '135877', '151710', '65909', '51062', '24734',
       '18605', '12698', '118445', '54428', '40000', '12711', '19545',
       '11494', '11458', '9166', '13756', '8333', '11111', '10555',
       '5111', '20833', '5456', '5727', '5722', '5972', '16000', '4861',
       '7500', '20399', '20396', '17383', '19925', '20018', '88395',
       '4888', '25284', '12026', '17160', '28927', '17544', '18614',
       '20036', '21080', '21606', '18826', '63816', '62461', '68064',
       '63815', '16159', '16648', '23434', '67969', '73334', '122194',
       '43298', '45746', '20203', '17698', '29189', '22504', '23914',
       '17542', '18621', '19343', '32156', '23423', '16986', '17624',
       '21399', '29587', '24781', '18733', '18664', '19720', '19443',
       '26994', '21611', '35408', '23903', '19750', '23460', '20386',
       '17798', '20665', '17742', '17492', '19896', '134752', '37749',
       '21018', '17538', '19926', '19124', '21047', '20749', '46064',
       '40196', '44711', '23891', '21610', '17562', '17399', '39379',
       '17068', '15273', '24134', '39427', '37141', '30655', '44704',
       '49608', '30067', '20530', '21767', '17580', '24702', '39912',
       '131049', '158125', '14324', '16666', '22401', '28683', '18421',
       '20689', '26223', '18803', '19538', '19453', '23334', '20964',
       '21213', '20218', '19518', '23710', '17613', '20447', '21508',
       '21327', '21441', '38053', '17420', '107621', '17616', '92723',
       '79058', '23386', '17517', '20831', '22785', '23537', '22036',
       '21926', '19897', '24243', '24376', '17855', '94834', '27035',
       '16650', '49933', '41813', '74667', '19371', '122193', '22687',
       '20006', '21280', '100922', '65982', '41993', '59613', '35877',
       '21209', '18810', '47357', '62596', '93260', '78928', '18620',
       '43928', '67638', '33252', '18774', '74650', '21277', '67376',
       '16985', '17578', '55848', '42849', '18585', '21346', '21672',
       '55537', '23167', '23374', '18592', '19442', '44261', '150206',
       '150245', '46616', '68523', '37689', '47244', '137701', '169433',
       '130270', '68029', '72101', '51687', '48155', '42360', '157925',
       '152346', '46519', '39953', '43968', '44787', '152539', '151197',
       '26146', '27987', '144078', '156694', '177670', '68538', '51054',
       '51239', '66001', '54025', '151960', '103122', '39096', '51053',
       '41794', '54135', '157738', '16358', '22632', '20236', '21279',
       '21557', '16849', '77294', '64763', '68013', '67064', '19079',
       '33210', '23715', '19138', '20570', '22004', '18362', '20365',
       '20193', '23518', '24739', '17629', '16704', '17632', '7819',
       '8247', '23756', '16349', '26813', '5000', '12173', '13888',
       '16842', '9428', '13217', '4000', '13121', '3928', '2692', '22626',
       '19024', '8823', '12592', '15750', '9062', '24783', '9800', '9700',
       '3800', '7200', '4850', '4749', '4299', '6647', '3916', '5569',
       '6950', '4629', '17611', '4275', '4212', '6424', '6350', '3199',
       '5099', '7210', '4950', '6970', '4995', '3548', '7076', '4571',
       '2934', '12903', '4426', '3518', '4527', '6381', '7157', '5748',
       '5838', '7087', '7061', '4557', '2500', '2700', '3876', '4241',
       '8171', '8170', '7877', '4399', '3988', '6315', '3950', '7069',
       '2000', '7685', '8191', '5250', '4400', '3943', '7246', '11253',
       '12796', '12906', '10012', '11372', '12917', '12552', '11277',
       '11328', '10501', '11732', '9970', '11142', '11050', '10156'],
      dtype=object)

# Convert all non-string values to string
df2["RATE_SQFT"] = df2["RATE_SQFT"].astype(str)

In [33]:
# Convert all non-string values to string
df2["RATE_SQFT"] = df2["RATE_SQFT"].astype(str)

C:\Users\HP\AppData\Local\Temp\ipykernel_19176\3040961679.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["RATE_SQFT"] = df2["RATE_SQFT"].astype(str)

In [34]:
df2["RATE_SQFT"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 1787 entries, 0 to 1786
Series name: RATE_SQFT
Non-Null Count  Dtype
--------------  -----
1787 non-null   object
dtypes: object(1)
memory usage: 14.1+ KB

In [35]:
df2["RATE_SQFT"]

0        9499
1        8300
2       10891
3        6800
4        5599
        ...
1782    11142
1783    11050
1784    11050
1785    10156
1786    10156
Name: RATE_SQFT, Length: 1787, dtype: object

In [36]:
df2[["PRICE","PROPERTY_TYPE"]]

       PRICE PROPERTY_TYPE
0     1.7700     Apartment
1     2.9700         Villa
2     4.0400     Apartment
3     1.4600     Apartment
4     0.7345     Apartment
...      ...           ...
1782  1.0800     Apartment
1783  1.0200     Apartment
1784  1.0200     Apartment
1785  0.8561     Apartment
1786  0.8561     Apartment

[1787 rows x 2 columns]

In [37]:
df2.groupby(["CITY","PROPERTY_TYPE"])

In [38]:
df2=df2.drop(columns="Unnamed: 0")

In [39]:
df2

,BUILDERS,SIZE,PROPERTY_TYPE,PROPERTY_ADDRESS,CITY,AREA,RATE_SQFT,PRICE,CONSTRUCTION_STATUS,LISTED_BY
0,Ashoka Builders India Private LimitedBUILDER0,3 BHK,Apartment,Nanakramguda,Hyderabad,1870,9499,1.7700,Under Construction,BUILDER
1,Sunyuga Infra Pvt LtdBUILDER0,4 BHK,Villa,Gundlapochampally,Hyderabad,3587,8300,2.9700,Under Construction,BUILDER
2,Raghuram Pradeep Constructions India LLPBUILDER0,4 BHK,Apartment,Puppalaguda,Hyderabad,3715,10891,4.0400,Under Construction,BUILDER
3,Kalyan Infra ProjectsBUILDER0,3 BHK,Apartment,Manchirevula,Hyderabad,2150,6800,1.4600,Ready to move,BUILDER
4,Risinia BuildersBUILDER0,2 BHK,Apartment,Pragathi,Hyderabad,1312,5599,0.7345,Under Construction,BUILDER
...,...,...,...,...,...,...,...,...,...,...
1782,Full Basket property services Pvt ltdAGENT0,2 BHK,Apartment,Sholinganallur,Chennai,976,11142,1.0800,Ready to move,AGENT
1783,Full Basket property services Pvt ltdAGENT0,2 BHK,Apartment,Sholinganallur,Chennai,923,11050,1.0200,Ready to move,AGENT
1784,Full Basket property services Pvt ltdAGENT0,2 BHK,Apartment,Sholinganallur,Chennai,923,11050,1.0200,Ready to move,AGENT
1785,Full Basket property services Pvt ltdAGENT0,2 BHK,Apartment,Sholinganallur,Chennai,843,10156,0.8561,Ready to move,AGENT
1786,Full Basket property services Pvt ltdAGENT0,2 BHK,Apartment,Sholinganallur,Chennai,843,10156,0.8561,Ready to move,AGENT

In [40]:
#df2.to_csv("READY_TO_ANALYSIS.csv")

In [41]:
(len(df2[df2["CONSTRUCTION_STATUS"]=='Under Construction'])/len(df2["CONSTRUCTION_STATUS"]))*100

58.92557358701735

In [42]:
(len(df2[df2["CONSTRUCTION_STATUS"]=='Ready to move'])/len(df2["CONSTRUCTION_STATUS"]))*100

41.07442641298265

In [43]:
df2.groupby(["CITY"])["BUILDERS"].value_counts()

CITY       BUILDERS
Bangalore  ProptigerCity Expert Ã¢Â€Â§ AGENT4.81 Rating    169
           ProptigerAGENT0                               66
           Prop UrbanAGENT4.5                            28
           NSR VenturesAGENT0                            12
           Jhp InfraAGENT3.3                             10
                                                       ...
Mumbai     Seeds Realty InvestmentsAGENT0                 1
           Shree Siddhivinayak Real EstateAGENT0          1
           Millennium RealtorsAGENT0                      1
           A to Z Real Estate CompanyAGENT0               1
           Aasco RealtyAGENT0                             1
Name: count, Length: 127, dtype: int64

In [44]:
df2.columns

Index(['BUILDERS', 'SIZE', 'PROPERTY_TYPE', 'PROPERTY_ADDRESS', 'CITY', 'AREA',
       'RATE_SQFT', 'PRICE', 'CONSTRUCTION_STATUS', 'LISTED_BY'],
      dtype='object')

In [45]:
df2.duplicated().sum()

230

In [46]:
len(df2)

1787

In [47]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1787 entries, 0 to 1786
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   BUILDERS             1787 non-null   object
 1   SIZE                 1787 non-null   object
 2   PROPERTY_TYPE        1787 non-null   object
 3   PROPERTY_ADDRESS     1787 non-null   object
 4   CITY                 1787 non-null   object
 5   AREA                 1787 non-null   int64
 6   RATE_SQFT            1787 non-null   object
 7   PRICE                1787 non-null   float64
 8   CONSTRUCTION_STATUS  1787 non-null   object
 9   LISTED_BY            1787 non-null   object
dtypes: float64(1), int64(1), object(8)
memory usage: 139.7+ KB

In [48]:
df2["SIZE"]=df2["SIZE"].str.split(" ")

In [49]:
df2["SIZE"] = df2["SIZE"].apply(lambda x:int(x[0]))

In [50]:
df2["SIZE"]

0       3
1       4
2       4
3       3
4       2
       ..
1782    2
1783    2
1784    2
1785    2
1786    2
Name: SIZE, Length: 1787, dtype: int64

In [51]:
import pandas as pd
import re

def contains_digits(string):
    return bool(re.search(r'\d', string))

df2["RATE_SQFT"] = df2["RATE_SQFT"].apply(lambda x: int(x) if contains_digits(x) and x != 'price' else 0)

In [52]:
df2["RATE_SQFT"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 1787 entries, 0 to 1786
Series name: RATE_SQFT
Non-Null Count  Dtype
--------------  -----
1787 non-null   int64
dtypes: int64(1)
memory usage: 14.1 KB

In [53]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1787 entries, 0 to 1786
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   BUILDERS             1787 non-null   object
 1   SIZE                 1787 non-null   int64
 2   PROPERTY_TYPE        1787 non-null   object
 3   PROPERTY_ADDRESS     1787 non-null   object
 4   CITY                 1787 non-null   object
 5   AREA                 1787 non-null   int64
 6   RATE_SQFT            1787 non-null   int64
 7   PRICE                1787 non-null   float64
 8   CONSTRUCTION_STATUS  1787 non-null   object
 9   LISTED_BY            1787 non-null   object
dtypes: float64(1), int64(3), object(6)
memory usage: 139.7+ KB

In [54]:
df2

,BUILDERS,SIZE,PROPERTY_TYPE,PROPERTY_ADDRESS,CITY,AREA,RATE_SQFT,PRICE,CONSTRUCTION_STATUS,LISTED_BY
0,Ashoka Builders India Private LimitedBUILDER0,3,Apartment,Nanakramguda,Hyderabad,1870,9499,1.7700,Under Construction,BUILDER
1,Sunyuga Infra Pvt LtdBUILDER0,4,Villa,Gundlapochampally,Hyderabad,3587,8300,2.9700,Under Construction,BUILDER
2,Raghuram Pradeep Constructions India LLPBUILDER0,4,Apartment,Puppalaguda,Hyderabad,3715,10891,4.0400,Under Construction,BUILDER
3,Kalyan Infra ProjectsBUILDER0,3,Apartment,Manchirevula,Hyderabad,2150,6800,1.4600,Ready to move,BUILDER
4,Risinia BuildersBUILDER0,2,Apartment,Pragathi,Hyderabad,1312,5599,0.7345,Under Construction,BUILDER
...,...,...,...,...,...,...,...,...,...,...
1782,Full Basket property services Pvt ltdAGENT0,2,Apartment,Sholinganallur,Chennai,976,11142,1.0800,Ready to move,AGENT
1783,Full Basket property services Pvt ltdAGENT0,2,Apartment,Sholinganallur,Chennai,923,11050,1.0200,Ready to move,AGENT
1784,Full Basket property services Pvt ltdAGENT0,2,Apartment,Sholinganallur,Chennai,923,11050,1.0200,Ready to move,AGENT
1785,Full Basket property services Pvt ltdAGENT0,2,Apartment,Sholinganallur,Chennai,843,10156,0.8561,Ready to move,AGENT
1786,Full Basket property services Pvt ltdAGENT0,2,Apartment,Sholinganallur,Chennai,843,10156,0.8561,Ready to move,AGENT

In [56]:
df2.to_csv("csv_after_cleaning_for_data_analysis_and_viz.csv")